.titulo {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(137, 176, 174);
    font-size: 30px;
    font-weight: 100px;
    color: white;
}

#servicios {
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    margin-bottom: 40px;
}

#servicios .card {
    background-color: rgb(251, 206, 173);
    border-radius: 8px 8px 8px 8px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    margin: 40px;
    transition: all 0.25s;
    align-content: center;
}

.card-body {
    text-align: center;
    padding-bottom: 0px;
    padding-top: 10px;
}

#servicios img {
    align-content: space-around;
    padding-top: 50px;
}

#imagen {
    padding-top: 30px auto;
    margin: 20px auto;
}

/* FORM TYPOGRAPHY*/

button[type=submit],input[type=reset] {
    background-color: rgb(35,91,110);
    border: none;
    color: white;

    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;

    border-radius: 5px 5px 5px 5px;
    margin: 10px 20px 10px 20px;

    transition: all 0.3s ease-in-out;
}

button[type=submit]:hover,input[type=reset]:hover {
    background-color: rgb(190, 227, 219);
    color: black;
}